$none: none;
$landscape: landscape;
$portrait: portrait;
$vh_100:100vh;
$m_0:0;
$real_vh:calc(var(--vh, 1vh) * 100);
$page_padding:0 10px 0 10px;
$flex:flex;
$fifty:50%;
$pink: #e93353;
$light_blue:#419ef5;
$dark_blue:#1558F3;
$flex_end:flex-end;
$flex_start:flex-start;

html {
  height: $vh_100;
}
body {
  margin: $m_0;
}
#root {
  height: $vh_100;
  height: $real_vh;
  margin: 0 auto;
  padding: $page_padding;
}
h2 {
  display: $flex;
  margin: $m_0;
  height: 10%;
}
#bigRect {
  display: $flex;
  height: 85%;
}
#lilRect {
  width: $fifty;
  height: $fifty;
  background-color: $dark_blue;
}

@media (orientation: $landscape) {
  #vTitle {
    display: $none;
  }
  #bigRect {
    background-color: $light_blue;
    justify-content: $flex_end;
    align-items: $flex_start;
  }
}
@media (orientation: $portrait) {
  #hTitle {
    display: $none;
  }
  #bigRect {
    background-color:$pink;
    justify-content: $flex_end;
    align-items: $flex_end;
  }
}
